<h1>Xác nhận tài khoản</h1>
<p>
  Cảm ơn {{ data.name }} đã sử dụng sản phẩm của chúng tôi 🙏🙏🙏🙏🙏
</p>

<p>
  Bạn vui lòng xác nhận tài khoản theo link này : <a href="{{url}}/confirm_account/{{token}}/{{data.email}}">Link</a>
</p>